# secure
.env
.secrets
.DS_Store

# virtual environments
.venv/
.example/
.examples/
.docker/
.tox/
.mypy/
.coverage/
.coverage

# python files
.vscode
.idea
*.pyc
*.pyo
__pycache__/
*.egg
*.whl
*.egg-info

# sphinx
docs/targets/
